{% extends 'base.html' %}

{% block content %}
<div class="watchlist-section">
    
    <div class="center-column">
        <h3>Search Stock</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="">Search</button>
        </form>
        
        {% if stock %}
            <div class="">
                <h3>Search Result:</h3>
                <p>{{ stock.symbol }} - {{ stock.name }} - Price: {{ stock.price }}</p>
                <form action="{% url 'add_to_wishlist' stock.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="">Add to Wishlist</button>
                </form>
            </div>
        {% endif %}
        
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-3">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>charts</h3>
       
    </div>
</div>
{% endblock %}
