{% extends 'base.html' %}

{% block content %}
<div class="watchlist-section">
    <div class="center-row">
        <h3>Your Wishlist</h3>
        {% if wishlist_items %}
            <ul>
                {% for item in wishlist_items %}
                    <li>{{ item.stock.name }} - {{ item.stock.symbol }} - Price: {{ item.stock.price }}
                        <form action="{% url 'remove_from_wishlist' item.stock.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Are you sure you want to remove {{ item.stock.name }} from your watchlist?');">Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your wishlist is empty.</p>
        {% endif %}
    </div>
    
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock %}
