/* Responsive Design and the Breakpoints
Good practices: Add at least two media queries, one for tablet 
(midum screens) and one for phones (small screens).
Following the Microsoft documentation.

- Phone or Small screen
    @media(max-width:640px) {
        //Your style here
    }
- Tablet or Medium screen
    @media((min-width:641px) and (max-width:1007px)){
        //Your style here
    }
*/
@media((min-width:641px) and (max-width:1007px)) {
    html {
        font-size: 12px;
    }

    header {
        flex-direction: column;
        height: max-content;
        padding: 2%;
    }

    /*Nav bar ------------------------------------*/
    @media (max-width: 768px) {
        .nav-option {
            display: block;
            flex-direction: column;
            /* Stack links vertically */
            /* Other adjustments for smaller screens */
        }

        .nav-btn {
            display: inline-flex;
        }

        .nav-btn span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: var(--neutral-color);
            margin: 5px 0;
            transition: transform 0.3s ease;
        }

        /*Toggle*/

        #check-option:not(:checked)~.nav-option {
            height: 0px;
            overflow: hidden;
        }

        #check-option:checked~.nav-option {
            height: auto;
            overflow: auto;
        }
    }
}