{% extends 'base.html' %}


{% block title  %}{{ post.title }}{% endblock title  %}

{% block content %}
<head>
    <title>{% if form.instance.pk %}Edit{% else %}New{% endif %} Post</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'post_list' %}">Back to List</a>
</body>
{% endblock content %}